Repository js-drop-table-user/langGraph-poc: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, pytest

lefthook.yml:

# Lefthook configuration
# Refer to https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    ruff-check:
      glob: "*.py"
      run: uv run ruff check {staged_files}
    ruff-format:
      glob: "*.py"
      run: uv run ruff format --check {staged_files}
    pytest:
      tags: backend test
      glob: "tests/*.py"
      run: uv run pytest {staged_files}

ci: add automated quality assurance pipeline
  .github/workflows/ci.yml
Due: none

feat(core): implement modular agent runtime and robust utilities
  coding_agent.py
  core/__init__.py
  core/agent_runtime.py
  core/llm_factory.py
  core/security.py
  core/tool_executor.py
  tools.py
  utils/__init__.py
  utils/json_parser.py
Due: ruff-check, ruff-format

feat(config): upgrade system prompts to Omni-Prompt standard
  config.py
Due: ruff-check, ruff-format

test: add comprehensive test suite and debug utilities
  README.ko.md
  inspect_memory.py
  tests/__init__.py
  tests/conftest.py
  tests/test_core.py
  tests/test_integration.py
  tests/test_tools.py
  tests/test_utils.py
  workspace/fizzbuzz.py
Due: ruff-check, ruff-format, pytest

chore: update .gitignore and global workspace settings
  .gitignore
Due: none

feat(core): enhance multi-agent supervisor and stability
  coding_agent.py
Due: ruff-check, ruff-format

style: apply ruff formatting and linter fixes to core modules
  config.py
  core/agent_runtime.py
Due: ruff-check, ruff-format

test: add verification script for agent monitoring
  .vscode/launch.json
  .vscode/settings.json
  tests/verify_agent.py
Due: ruff-check, ruff-format, pytest

security/chore: add gitleaks to local development workflow
  lefthook.yml
Due: none

ci/security: add gitleaks to automation pipeline
  .github/workflows/ci.yml
Due: none
